body {
    /*often good practice to set these to zero for better expected formatting*/
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

/* to search for an element to style you do '.' for classes and '#' for id */
.div-box {
    border: 1px solid green;
}

.div-box #word {
    color: red;
}

.span-box {
    border: 1px solid blue;
}

.span-box #word{
    color: orange;
}

.big-box {
    border: 5px solid rgb(0, 0, 0);
}

/* you can find smaller box like .smaller-box or .big-box .smaller-box*/
.smaller-box {
    border: 5px solid rgb(128, 0, 0);
}

.even-smaller-box {
    border: 5px solid rgb(255, 0, 208);
}